.App {
  font-family: sans-serif;
  text-align: center;
}

.hours-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.hourly-data {
  padding: 10px;
  border: 1px solid #737373;
}
